<div fxFlexFill>
  <div fxFlexFill fxLayout="column">
    <div fxLayout="row" fxLayout.lt-sm="column">
      <div
        fxFlex
        fxLayout.lt-md="column"
        fxLayoutAlign="start end"
        class="welcome-bg background-fill"
      >
        <div class="welcome-index" fxLayout="row" fxLayout.lt-md="column">
          <div fxFlex="30">
            <h1 fxLayout="column">
              <span class="plain-text theme-accent-text margin-bottom-2">
                Welcome to
              </span>
              <span class="mat-display-1 plain-text">IoT Ensemble</span>
            </h1>
          </div>

          <div
            ngClass.lt-md="divider-fill-hor"
            ngClass.gt-sm="divider-fill-vert"
          ></div>

          <div fxLayout="column">
            <h2 class="plain-text theme-accent-text">Device Dashboard</h2>

            <p>
              Emulate, simulate, and connect your devices to unlock the power of
              your IoT applications.
            </p>
          </div>
        </div>
      </div>

      <div
        fxLayout.sm="column"
        fxFlex="30"
        fxFlex
        class="background-fill blank-header"
      ></div>
    </div>

    <div fxFlexFill fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <!-- left side -->
        <div
          [@OnExpandHorizontal]="SidePanelAction()"
          [@OnExpandVertical]="SidePanelAction()"
          fxLayout="column"
          fxLayout.lt-md="row"
          fxLayoutAlign="start start"
          class="background-fill box-side-triangle"
        >
          <div fxLayout="column" class="side-column">
            <div class="side-toggle-container">
              <button mat-icon-button (click)="ToggleSideNav()">
                <div *ngIf="AnimationSrvc.Direction === 'HORIZONTAL'">
                  <mat-icon *ngIf="AnimationSrvc.IsOpen"> arrow_left </mat-icon>
                  <mat-icon *ngIf="!AnimationSrvc.IsOpen">
                    arrow_right
                  </mat-icon>
                </div>

                <div *ngIf="AnimationSrvc.Direction === 'VERTICAL'">
                  <mat-icon *ngIf="!AnimationSrvc.IsOpen">
                    arrow_drop_down
                  </mat-icon>
                  <mat-icon *ngIf="AnimationSrvc.IsOpen">
                    arrow_drop_up
                  </mat-icon>
                </div>
              </button>
            </div>

            <!-- [ngStyle]="{
                display: OnExpandVertical || OnExpandHoizontal === false ? 'none' : 'block'

                [ngStyle]="{
              visibilty: !AnimationSrvc.IsOpen ? 'none' : 'block'}"
              }" -->
            <div [@AnimateOpacity]="AnimationSrvc.IsOpen ? 'show' : 'hide'">
              <div
                fxLayout="column"
                ngClass.gt-sm="padding-top-5"
                ngClass.lt-md="padding-bottom-5"
                class="padding-left-5 padding-right-5"
              >
                <div class="divider-fill-hor"></div>

                <h3 class="mat-display-5 plain-text whats-next-text">
                  Getting Started?
                </h3>

                <p>
                  Check out our getting started
                  <a
                    mat-link-button
                    href="https://www.iot-ensemble.com/docs/getting-started/setup"
                    target="_blank"
                  >
                    documentation
                  </a>
                </p>

                <div class="divider-fill-hor"></div>
              </div>
            </div>
          </div>
        </div>
        <!--^^^ Left Side ^^^-->

        <!-- Content -->
        <div
          fxFlex
          fxLayout="column"
          class="margin-left-2"
          class="background-fill padding-left-2 padding-right-2 padding-top-2"
        >
          <lcu-device-data-flow-manage-element></lcu-device-data-flow-manage-element>
        </div>
        <!--^^^ Content ^^^-->
      </div>
    </div>
  </div>
</div>
