<div fxFlexFill>
  <div 
    fxFlexFill 
    fxLayout="column" 
    fxLayoutGap="5px">
    <div 
      fxLayout="row" 
      fxLayout.lt-sm="column"
      fxLayoutGap="5px">
      <div
        fxFlex
        fxLayout.lt-md="column"
        fxLayoutAlign="start end"
        class="welcome-bg background-fill"
      >
        <div 
          class="welcome-index" 
          fxLayout="row" 
          fxLayout.lt-md="column" 
          fxLayoutGap="30px">
          <div fxFlex="30">
            <h1 fxLayout="column">
              <span class="plain-text theme-accent-text margin-bottom-2">
                Welcome to
              </span>
              <span class="mat-display-1 plain-text">IoT Ensemble</span>
            </h1>
          </div>

          <div ngClass.lt-md="divider-fill-hor" ngClass.gt-sm="divider-fill-vert"></div>

          <div fxLayout="column">
            <h2 class="plain-text theme-accent-text">Device Dashboard</h2>

            <p>
              Emulate, simulate, and connect your devices to unlock the power of
              your IoT applications.
            </p>
          </div>
        </div>
      </div>

      <div fxLayout.sm="column" fxFlex="30" fxFlex class="background-fill blank-header"></div>
    </div>

    <!-- <div style="height: 200px; width: 100px; background-color: rgb(192, 24, 24);"
      [@onSideNavOpenClose]="SideNavSrvc.SideNavToggleVal ? 'open' : 'close'">test
      </div> -->

    <div 
    fxFlexFill 
    fxLayout="row"
    fxLayout.lt-md="column">
      <div 
      fxFlex 
      fxLayout="row" 
      fxLayout.lt-md="column"
      fxLayoutGap="5px">
        <!-- left side -->
        <div 
          [@OnExpandHorizontal]="SidePanelAction()"
          (@OnExpandHorizontal.done)="OnExpandHorizontalDoneEvent($event)"
          [@OnExpandVertical]="SidePanelAction()"
          (@OnExpandVertical.done)="OnExpandVerticalDoneEvent($event)"
          fxLayout="column"
          fxLayout.lt-md="row"
          fxLayoutAlign="start start"
          class="background-fill box-side-triangle"
        >
          <div fxLayout="column" class="side-column">
            <div
              class="side-toggle-container"
              [@OnExpandHorizontal]="AnimationSrvc.ExpandHoizontalToggleVal ? 'open' : 'close'"
              [@OnExpandVertical]="AnimationSrvc.ExpandVerticalToggleVal ? 'up' : 'down'"
              >
              
              <button mat-icon-button (click)="ToggleSideNav()">

                <div *ngIf="AnimationSrvc.Direction === 'HORIZONTAL'">
                  <mat-icon *ngIf="AnimationSrvc.ExpandHoizontalToggleVal">
                    arrow_left
                  </mat-icon>
                  <mat-icon *ngIf="!AnimationSrvc.ExpandHoizontalToggleVal">
                    arrow_right
                  </mat-icon>
                </div>
               
                <div *ngIf="AnimationSrvc.Direction === 'VERTICAL'">
                  <mat-icon *ngIf="AnimationSrvc.ExpandVerticalToggleVal">
                    arrow_drop_down
                  </mat-icon>
                  <mat-icon *ngIf="!AnimationSrvc.ExpandVerticalToggleVal">
                    arrow_drop_up
                  </mat-icon>
                </div>
              </button>
            </div>

            <!-- [ngStyle]="{
                display: OnExpandVertical || OnExpandHoizontal === false ? 'none' : 'block'
              }" -->
            <div
              fxLayout="column"
              fxFlex="90"
              
              class="padding-left-5 padding-right-5 padding-top-5">
              <div class="divider-fill-hor"></div>

              <h3 class="mat-display-5 plain-text whats-next-text">
                Getting Started?
              </h3>

              <p>
                Check out our getting started
                <a
                  mat-link-button
                  href="https://www.iot-ensemble.com/docs/getting-started/setup"
                  target="_blank"
                >
                  documentation
                </a>
              </p>

              <div class="divider-fill-hor"></div>
            </div>
          </div>
        </div>
        <!--^^^ Left Side ^^^-->

        <!-- Content -->
        <div
          fxFlex
          fxLayout="column"
          fxLayoutGap="1em"
          class="background-fill padding-left-2 padding-right-2 padding-top-2"
        >
          <lcu-setup-manage-element
            *ngIf="State && !State.Loading"
            [dashboard]="State.Dashboard"
            [devices-config]="State.Devices"
            [emulated]="State.Emulated"
            [storage]="State.Storage"
            [telemetry]="State.Telemetry"
            (enroll-device)="EnrollDevice($event)"
            (issued-device-sas-token)="IssueDeviceSASToken($event)"
            (refreshed)="Refresh($event)"
            (revoke-device-enrollment)="RevokeDeviceEnrollment($event)"
            (regenerated-api-key)="RegenerateAPIKey($event)"
            (sent-device-message)="SendDeviceMessage($event)"
            (telemetry-download)="TelemetryDownload($event)"
            (toggle-device-telemetry-enabled)="ToggleTelemetryEnabled()"
            (toggle-emulated-enabled)="ToggleEmulatedEnabled()"
            (devices-page-event)="HandleDevicePageEvent($event)"
            (telemetry-page-event)="HandleTelemetryPageEvent($event)"
            (update-refresh-rate)="UpdateRefreshRate($event)"
          ></lcu-setup-manage-element>

          <lcu-loader [loading]="State.Loading"></lcu-loader>
        </div>
        <!--^^^ Content ^^^-->
      </div>
    </div>
  </div>
</div>
