<mat-toolbar 
  color="primary">
  <!-- <button
    mat-icon-button
    class="menu-button"
    (click)="MenuClick($event)"
    *ngIf="ShowMenu">
    <mat-icon>menu</mat-icon>
  </button> -->

  <div 
    style="height: 60px;" 
    ngClass.gt-xs="fathym-full-logo" 
    ngClass.xs="fathym-logo">
  </div>
  
  <div 
    fxFlex
    fxLayoutGap.lt-sm="5px"
    fxLayoutGap.gt-sm="10px"
    >
  <a mat-button href="/">{{ Text }}</a>

  <div 
    fxFlex 
    fxLayoutAlign="end">
    <button mat-button (click)="OpenBillingPage()">Upgrade</button>
    <a mat-button href="/.oauth/logout">Sign Out</a>
  </div>
</div>
</mat-toolbar>
